@media (min-width: 1024px) {

    #slideshow\ {
        max-width: 1000px;
    }

    .top-navbar{
        /*
        display:flex; !important;
        flex-direction: row; !important;*/
    }
   /* .open-btn{
        display:none ; !important;
    }
   */
    /*.bottom-navbar{
        display:contents; !important;
    }*/
}
